<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Exercise tracker</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1 class="text-center">
        Exercise Tracker
      </h1>
    </header>

    <main>
      <div class="d-flex mt-5 justify-content-center">
        <div class="card mr-5 pb-auto" style="width: 18rem;">
          <form method="POST" action="/api/exercise/new-user">
            <div class="card-body">
              <h5 class="card-title">Create a new user</h5>
              <input name="username" placeholder="username" class="mb-1 form-control">
              <input type="submit" value="save" class="btn btn-success btn-block">
            </div>
          </form>
        </div>
        
        <br>
        
        <div class="card" style="width: 18rem;">
          <form method="POST" action="/api/exercise/add">
            <div class="card-body">
              <h5 class="card-title">Add exercise</h5>
              <input name="userId" placeholder="userId*" class="mb-1 form-control">
              <input name="description" placeholder="description*" class="mb-1 form-control">
              <input name="duration" placeholder="duration (mins.)" class="mb-1 form-control">
              <input name="date" placeholder="date (yyyy-mm-dd)" class="mb-1 form-control">
              
              <input type="submit" value="save" class="btn btn-success btn-block">
            </div>
          </form>
        </div>
      </div>
      
      
      
    </main>

    <footer class="text-center mt-5">
      Made with <a href="https://glitch.com">Glitch</a> and made by D D Nguyen!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
